div.scrollmenu_three {
  margin-top: 150px;

  opacity: 0.5;
  overflow: auto;
  white-space: nowrap;
  border-left-style: solid 1px;
}

div.scrollmenu_three a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  height: 400px;
  width: 400px;
  border-style: solid 1px;
  margin-left: 100px;
  background-color: #ee8262;
}

div.scrollmenu_three a:hover {
  background-color: #777;
}
