div.scrollmenu {
    margin-top:150px;

    opacity:.5;
    overflow: auto;
    white-space: nowrap;
    border-left-style:solid 1px;

}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    height:400px;
    width:400px;
    border-style: solid 1px;
    margin-left:100px;
    background-color: #FA8072;

}

div.scrollmenu a:hover {
    background-color: #777;


}
